body, html {
  background-color: silver;
  text-align: center;
  margin: 20px 0;
  padding: 0;
}
h2 {
  color: black;
  /*animation: name duration timing delay count direction*/
  /* animation-name: gradient-forward;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 3;
  animation-fill-mode: forwards; */
}
@keyframes s-gradient-forward {
  0% {color: black;}
  /* 25% {color: gray;} */
  50% {color: green; }
  /* 75% {color: gray;} */
  100% {color: black;}
}
@keyframes i-gradient-forward {
  0% {color: black;}
  /* 25% {color: gray;} */
  50% {color: yellow; }
  /* 75% {color: gray;} */
  100% {color: black;}
}
@keyframes m-gradient-forward {
  0% {color: black;}
  /* 25% {color: gray;} */
  50% {color: orange; }
  /* 75% {color: gray;} */
  100% {color: black;}
}
@keyframes o-gradient-forward {
  0% {color: black;}
  /* 25% {color: gray;} */
  50% {color: red; }
  /* 75% {color: gray;} */
  100% {color: black;}
}
@keyframes n-gradient-forward {
  0% {color: black;}
  /* 25% {color: gray;} */
  50% {color: blue; }
  /* 75% {color: gray;} */
  100% {color: black;}
}
h2, h1 span {
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 0.6px;
  font-size: 4em;
  margin: 0 2px; 
}
span#s {
  animation-name: s-gradient-forward;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-delay: 4s;
  animation-fill-mode: forwards;
}
span#i {
  animation-name: i-gradient-forward;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-delay: 3.5s;
  animation-fill-mode: forwards;
}
span#m {
  animation-name: m-gradient-forward;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
span#o {
  animation-name: o-gradient-forward;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
}
span#n {
  animation-name: n-gradient-forward;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
span {
  cursor: pointer;
}
.green {
  color: green;
  background-color: white;
  border: 1px solid black;
}
.green-active {
  color: white !important;
  background-color: green;
  vertical-align: middle;
  transform: scale(1.1);
}
.green:hover {
  color: white;
  background-color: green;
}
.yellow {
  color: yellow;
  background-color: white;
  border: 1px solid black;
  vertical-align: middle;
}
.yellow-active {
  color: white !important;
  background-color: yellow;
  vertical-align: baseline;
  transform: scale(1.1);
}
.yellow:hover {
  color: white;
  background-color: yellow;
}
.red {
  color: red;
  background-color: white;
  border: 1px solid black;
  padding: 0 2px;
}
.red-active {
  color: white !important;
  background-color: red;
  vertical-align: middle;
  transform: scale(1.1);
}
.red:hover {
  color: white;
  background-color: red;
}
.blue {
  color: blue;
  background-color: white;
  border: 1px solid black;
  vertical-align: middle;
}
.blue-active {
  color: white !important;
  background-color: blue;
  vertical-align: baseline;
  transform: scale(1.1);
}
.blue:hover {
  color: white;
  background-color: blue;
}
.controls {
  display: block;
}
.controls button#last {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 3px solid black;
  background-color: yellow;
}
.controls button#start {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 3px solid black;
  background-color: red;
  margin: 30px 30px 0 30px;
}
.controls button#strict {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  border: 3px solid black;
  background-color: yellow;
}
.tooltip-last {
  visibility: hidden;
  width: 50px;
  background-color: black;
  color: white;
  font-family: 'Helvetica', sans-serif;
  font-size: 1em;
  text-align: center;
  border-radius: 6px;
  padding: 2px 0;
  position: absolute;
  z-index: 1;
  bottom: 222px;
  margin-left: -25px;
  /* opacity: 0; */
  transition: opacity 1s;
}
.tooltip-last::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
button#last:hover .tooltip-last {
  visibility: visible;
  opacity: 1;
}
.tooltip-start {
  visibility: hidden;
  width: 50px;
  background-color: black;
  color: white;
  font-family: 'Helvetica', sans-serif;
  font-size: 1em;
  text-align: center;
  border-radius: 6px;
  padding: 2px 0;
  position: absolute;
  z-index: 1;
  bottom: 222px;
  margin-left: -26px;
  /* opacity: 0; */
  transition: opacity 1s;
}
.tooltip-start::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
button#start:hover .tooltip-start {
  visibility: visible;
  opacity: 1;
}
.tooltip-strict {
  visibility: hidden;
  width: 60px;
  background-color: black;
  color: white;
  font-family: 'Helvetica', sans-serif;
  font-size: 1em;
  text-align: center;
  border-radius: 6px;
  padding: 2px 0;
  position: absolute;
  z-index: 1;
  bottom: 222px;
  margin-left: -30px;
  /* opacity: 0; */
  transition: opacity 1s;
}
.tooltip-strict::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
button#strict:hover .tooltip-strict {
  visibility: visible;
  opacity: 1;
}
#levels {
  margin: 10px 0;
  font-family: 'Helvetica', sans-serif;
}
h3 {
  background-color: black;
    color: white;
    width: 30px;
    display: inline-block;
    padding: 5px;
    border-radius: 10%;
}